@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

p,
h2 {
    text-transform: capitalize;
}

.svg {
    cursor: pointer;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 15px solid #FECA1A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1.8s ease;
}

.grass {
    background-color: #E9EDC9;
}

.fire {
    background-color: #d19c8e;
}

.water {
    background-color: #a6bed8
}

.poison {
    background-color: #a88ed1;
}

.pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.pokemon-name {
    margin: 0;
    font-size: 20px;
}

.pokemon-id {
    margin: 0;
    font-size: 16px;
}

.pokemon-image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.5s ease;
}

.pokemon-image img:hover {
    transform: scale(1.03);
}


.pokemon-details {
    /* display: flex; */
    padding: 20px;
}

.pokemon-type {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
}

.add-to-team-button {
    background-color: #FECA1A;
    color: rgb(55, 97, 168);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
    width: 100%;
}

.add-to-team-button:hover {
    background-color: #daab11;
    color: #4067ac;
    transition: background-color .5s ease;
}

.remove-from-team-button {
    background-color: #f3583d;
    color: #FECA1A;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
    width: 100%;
}

.remove-from-team-button:hover {
    background-color: rgb(209, 71, 17);
    color: #FECA1A;
    transition: background-color .5s ease;
}

.pokemon-card-container {
    padding: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    flex: 1 0 30%;
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.pokemon-card img {
    max-width: 100%;
    height: auto;
    display: block;
}

.pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}