nav {
    background-color: #4CAF50;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    display: inline;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    padding: 20px;
}

button:hover {
    background-color: #45a049;
}

.navBtns{
    display: flex;
    justify-content: space-between;
}